@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
/* font-family: 'Carrois Gothic SC', sans-serif; */


body{
    background: url(../img/uploads/ft-bg.jpg);
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.card{  
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    backdrop-filter: blur(10px);
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    color:white;
}

.card:hover{
    border-color: rgba(255, 255, 255, 0.3);
}


.login-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

label{
    margin-left: 20px;
}

input{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    border: 1px dashed rgb(99, 99, 99);
    border-radius: 30px;
    padding: 10px;
    background-color: transparent;
    text-align: center;
    color: white;
}

input:focus{
    outline: none;
    border: 1.5px solid rgb(20, 134, 255);
}


.btn{
    width: 30%;
    color: white;
    height: 35px;
    border-radius: 20px;
    margin: 5px 35%;
    text-transform: capitalize;
    cursor: pointer;
}

.bg-blue{
    border: 2px solid #73befc;
    background-color: rgb(0, 132, 255);
}

.bg-green{
    border: 2px solid #b0ff98;
    background-color: rgba(11, 203, 59, 0.86);
}


.title{
    text-transform: uppercase;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.registerLink a{
    margin-left: 20px;
    text-decoration: none;
    color: #59b9ff;
}

.registerLink a:hover{
    color: antiquewhite;
}

.alert{
    height: 40px;
    border-radius: 15px;
    border: 1px solid darkred;
    background-color: rgba(255, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.success{
     height: 40px;
    border-radius: 15px;
    border: 1px solid darkgreen;
    background-color: rgba(152, 255, 0, 0.2);
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px){
    .card{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .card{
        width: 60%;
    }
}


