
.card{
    margin-top: 5%!important;
}

.row{
    display: flex;
}

.row input{
    width: 90%;
}

.col-md-6{width: 50%}



@media screen and (max-width: 1000px){
    .card{
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .col-md-6{
        width: 100%;
    }

    .row{
        flex-direction: column;
    }
}
