{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'movie/css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="card">
            {% if error %}
                <div class="alert">
                    {{ error }}
                </div>
            {% endif %}
            {% if success_message %}
                <div class="success">
                    {{ success_message }}
                </div>
            {% endif %}
            <div class="login-content">
                <h3 class='title'>Login</h3>
                <form method="POST" >
                    {% csrf_token %}
                        <label for="username">
                            Username
                        </label>
                        <input type="text" name="username" id="username"  required="required" />

                        <label for="password">
                            Password
                        </label>
                        <input type="password" name="password" id="password"   required="required" />
                        <p class="registerLink">
                            <a href="/user/register">You have not an account?</a>
                        </p>
                    <button type="submit" class='btn bg-blue'>Login</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
